/* .contactLabel {
    display: block;
} */
.app {
    display: flex;
    flex-direction: column;
    align-self: center;    
    min-width: 300px;
    min-height: 250px;
}
.contactForm {    
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-self: center;
}
.contactsList {
    margin: 15px;
    align-self: center;
}
.contactItem {

}
.nameLabel {
    display: block;
}
.submit {
    align-self: center;
    margin: 15px;    
    padding: 5px;
}